{% extends 'BackendBundle::layout.html.twig' %}

{% block body %}
    <h2>Listar ONGs</h2>
    <div id="dt1" class="no_margin">
        <table class="display datatable">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Total de Doações</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for costumer in allCostumers %}
                <tr class="gradeX">
                    <td>{{ costumer.firstName }} {{ costumer.lastName }}</td>
                    <td><a href="#">{{ costumer.orders|length }} Doações</a></td>
                    <td>{{ costumer.email }}</td>
                    <td>Editar</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}