{% extends 'FrontendBundle::layout.html.twig' %}

{% block body %}
    <main>
        <div class="content-wrapper">
            <h2 class="about-us-sub-title">Contato</h2>
            <div class="about-social-funding-logo"></div>
            <h2 class="about-us-title">Entre em contato e ajude-nos a mudar o mundo!</h2>

            <form action="{{ path('search_contact') }}" method="post">
                <section class="box">
                    <p>
                        <label for="">Nome</label>
                        <input type="text" class="field" name="name">
                    </p>
                    <p>
                        <label for="">E-mail</label>
                        <input type="text" class="field" name="email">
                    </p>
                    <p>
                        <label for="">Mensagem</label>
                        <textarea class="field" name="message"></textarea>
                    </p>
                    <p>
                        <button type="submit" class="btn-submit"><span class="icon-heart"></span>Enviar Mensagem</button>
                    </p>
                </section>
            </form>
        </div><!--content-wrapper-->
    </main>
{% endblock %}

