{% extends 'FrontendBundle::layout.html.twig' %}

{% block body %}
    <main>
        <div class="content-wrapper">
            <h2 class="about-us-sub-title">TERMOS DE USO</h2>
            <div class="about-social-funding-logo"></div>
            <h2 class="about-us-title">E se você pudesse mudar o mundo?</h2>

            <h3>Termos e condições de uso dos serviços oferecidos pela Social Funding</h3>
            <p class="about-us-paragraph">
                Este Termo de Uso apresenta as “Condições Gerais” aplicáveis ao uso dos serviços oferecidos pela Social Funding, sociedade limitada, inscrita no CNPJ sob n.º 19.906.749/0001-20, doravante denominada “SOCIAL FUNDING”, o qual inclui a doação de produtos para ONGs e outros serviços relacionados no site da www.socialfunding.com.br
            </p>
            <p class="about-us-paragraph">
                Este termo está estritamente validado conforme o código de defesa do consumidor (Lei 8.078/90) e o Decreto 7.962/2013. Qualquer pessoa, legalmente capaz, denominada “CLIENTE/DOADOR”, que utilize os serviços da “Social Funding”, deve aceitar este Termo de Utilização e todas as políticas e princípios que o regem.
            </p>
            <p class="about-us-paragraph">
                O TERMO DE UTILIZAÇÃO É INDISPENSÁVEL, sendo obrigatório para a UTILIZAÇÃO dos serviços deste Website. A utilização dos serviços oferecidos pela “Social Funding” implica na imediata aquiescência/ anuência deste Termo e seu conteúdo. Este acordo constitui-se em documento exclusivo entre “SOCIAL FUNDING” e o “CLIENTE/DOADOR”, substituindo-se, deste modo, todos os acordos, representações, garantias e entendimentos anteriores com relação a “SOCIAL FUNDING”, seus conteúdos e serviços fornecidos neste Website.
            </p>
            <p class="about-us-paragraph">
                Caso deseje se cadastrar, acessar e utilizar as demais páginas ou recursos deste Website, leia atentamente as condições abaixo e confirme sua anuência clicando no campo “Concordo”, localizado ao final.
            </p>
            <h3><b>Atenção</b></h3>
            <p class="about-us-paragraph">
                O “CLIENTE/DOADOR” MENOR DE 18 ANOS DE IDADE SOMENTE PODERÁ EFETUAR O REGISTRO OU CADASTRO NESTE WEBSITE DESDE QUE DEVIDAMENTE REPRESENTADO OU ASSISTIDO, CONFORME PREVISTO NOS ARTS. 1.634 E 1.690 DO CÓDIGO CIVIL, POR SEUS REPRESENTANTES OU ASSISTENTES LEGAIS, DEVENDO ESSES SER RESPONSÁVEIS NA ESFERA CÍVEL POR TODO E QUALQUER ATO PRATICADO PELO MENOR QUANDO DA UTILIZAÇÃO DO WEBSITE.
            </p>
            <p class="about-us-paragraph">
                Os representantes legais serão responsáveis, por todo e qualquer ato ilícito praticado pelo menor quando da utilização do Website.
            </p>
            <h3><b>Considerando que:</b></h3>
            <p class="about-us-paragraph">
                <ul>
                    <ol>
                        <p class="about-us-paragraph">
                            A “SOCIAL FUNDING” é uma empresa com modelo crowdfunding no qual proporciona a arrecadação de produtos para doações em ONGs cadastradas, em parceria com empresas as seguintes empresas varejistas: Ponto Frio, Casas Bahia e Extra.com, sedo que estas conseguem e auxiliam na viabilização de uma nova forma de doação para ONGs, além de garantir a entrega e confiabilidade dos serviços prestados.
                        </p>
                        <p class="about-us-paragraph">
                            A “SOCIAL FUNDING” permite que ONGS cadastrem-se no website para expor suas necessidades e começarem a usufruir de seus serviços.
                        </p>
                        <p class="about-us-paragraph">
                            A “SOCIAL FUNDING” não cobra nenhuma taxa ou comissão de serviço das ONGs cadastradas.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            “CLIENTE/DOADOR” é o quem irá adquirir um produto para doação;
                        </p>
                        <p class="about-us-paragraph">
                            ATENÇÃO:O “CLIENTE/DOADOR” possui total conhecimento que a “SOCIAL FUNDING” não tem qualquer responsabilidade do uso do produto pela ONG parceira.
                        </p>
                        <p class="about-us-paragraph">
                            “ONGS PARCEIRAS” são instituições sem fins lucrativos que realizam serviços sociais, ou seja, que geraram benefícios sociais, ambientais, culturais entre outros, constituída na LEI 9.790/99.
                        </p>
                        <p class="about-us-paragraph">
                            As “ONGS PARCEIRAS” assumem toda responsabilidade pelas informações fornecidas no website.
                        </p>
                    </ol>
                </ul>
            </p>
            <h3><b>Termos e condições de utilização:</b></h3>
            <p class="about-us-paragraph">
                <ul>
                    <ol>
                        <p class="about-us-paragraph">
                            Ao efetuar uma compra/doação na “SOCIAL FUNDING” o “CLIENTE/DOADOR” acorda automaticamente com os Termos e Condições de Uso aqui explícitos. Caso o “CLIENTE/DOADOR” não esteja de acordo com os Termos e Condições de Uso, não deverá efetuar nenhum tipo de compra no Website.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            A “SOCIAL FUNDING” não garante que seu conteúdo seja apropriado ou esteja disponível para uso em outras localidades fora do território brasileiro; também se isenta de responsabilidades pelo acesso ao Website a partir de territórios onde seu conteúdo seja ilegal, recaindo inteiramente o ônus de utilização sobre o “CLIENTE/DOADOR”.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            Destarte, ao optar pelo acesso a “SOCIAL FUNDING”, o “CLIENTE/DOADOR” compreende, reconhece e concorda que sua utilização é regida pelo ordenamento jurídico da República Federativa do Brasil em relação à conduta online e conteúdo disponibilizado.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            As informações sobre os serviços estarão organizadas no website de forma clara, precisa e em português, fazendo constar todas as informações referentes aos tipos de doações disponíveis.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            O uso deste Website restringe-se ao privado, sendo vedada sua utilização comercial com fins lucrativos por terceiros não autorizados; bem como também é proibido, e protegido pela legislação competente, o uso de qualquer software ou sistema automatizado para extrair dados deste Website para a exibição em qualquer outro lugar do mundo sem o consentimento expresso de seus proprietários.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            A “SOCIAL FUNDING” isenta-se da responsabilidade por qualquer erro ou atraso na remoção de conteúdo impreciso, ilícito ou censurável proveniente ou fornecido por terceiros em nosso Website. A equipe da “SOCIAL FUNDING” pode mudar, a qualquer tempo e sem aviso prévio, o conteúdo e funcionalidades do Website.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            A aquisição do(s) serviços(s) pelo “CLIENTE/DOADOR” será finalizada e concluída, após o devido pagamento que se dará pela prestação de serviço da empresa responsável por gestão de pagamentos. A “SOCIAL FUNDING” não poderá intervir nos resultados da relação do “CLIENTE/DOADOR” com a empresa responsável por gestão de pagamentos, uma vez que a mesma administra suas operações de forma independente.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            A “SOCIAL FUNDING” não pode garantir de forma alguma que os serviços prestados pela empresa responsável pela gestão de pagamentos funcionarão livres de erros, interrupções, mau funcionamento, atrasos ou outras imperfeições. Ressalte-se que não será responsável pela disponibilidade ou não dos Serviços prestados pela empresa responsável pela gestão de pagamentos ou pela impossibilidade do uso do Serviço.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            A “SOCIAL FUNDING” poderá, a qualquer tempo, alterar o presente instrumento visando o aprimoramento, bem como a melhoria dos serviços prestados. O novo instrumento contratual entrará em vigor, sem prejuízo dos serviços veiculados na vigência do contrato anterior. Assim, a “SOCIAL FUNDING” recomenda que o “CLIENTE/DOADOR” tenha o costume de reler atentamente os termos e condições de uso sempre que acessar o Website ou realizar qualquer operação por meio deste.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            A “SOCIAL FUNDING” tomará todas as medidas possíveis para manter a confidencialidade, segurança e sigilo atinentes às informações dos “CLIENTES/DOADORES”, porém não responderá por prejuízo que possa ser derivado da violação dessas medidas por parte de terceiros que utilizem as redes públicas ou a internet, subvertendo os sistemas de segurança para acessar as informações de “CLIENTES/DOADORES”.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            Com efeito, preocupada com a segurança e privacidade dos dados que trafegam no Website, a “SOCIAL FUNDING” declara que a senha de acesso e todos os dados que o “CLIENTE/DOADOR” digitar na página do Website são protegidos. A “SOCIAL FUNDING” recomenda que o “CLIENTE/DOADOR” nunca forneça sua senha a terceiros. O “CLIENTE/DOADOR” é integralmente responsável pelo sigilo e utilização de sua senha e identidade.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            A “SOCIAL FUNDING” não será responsável por qualquer dano, prejuízo ou perda no equipamento do “CLIENTE/DOADOR” causado por falhas no sistema, no servidor ou na internet decorrentes de condutas de terceiros, ressalvado que eventualmente, o sistema poderá não estar disponível por motivos técnicos ou falhas da internet, ou por qualquer outro evento fortuito ou de força maior alheio ao seu controle.
                        </p>
                    </ol>
                </ul>
            </p>
            <h3><b>Objeto do Contrato:</b></h3>
            <p class="about-us-paragraph">
                <ul>
                    <ol>
                        <p class="about-us-paragraph">
                            Constitui objeto deste contrato a facilitação, por intermédio da ferramenta própria da “SOCIAL FUNDING”, nas doações para ONGs parceiras pelos  “CLIENTES/DOADORES”.
                        </p>
                    </ol>
                </ul>
            </p>
            <h3><b>Das informações para a utilização dos serviços:</b></h3>
            <p class="about-us-paragraph">
                <ul>
                    <ol>
                        <p class="about-us-paragraph">
                            DO CADASTRO DO “CLIENTE/DOADOR”
                        </p>
                        <ul>
                            <ol>
                                <p class="about-us-paragraph">
                                    É obrigatório o cadastro do “CLIENTE/DOADOR” para a doação, basta que siga o passo-a-passo constante no Website.
                                </p>
                            </ol>
                            <ol>
                                <p class="about-us-paragraph">
                                    Todo e qualquer “CLIENTE/DOADOR” menor de 18 anos deverá obter o consentimento expresso de seus pais ou representantes legais antes de fornecer os seus endereços de e-mail ou quaisquer dados a “SOCIAL FUNDING” por meio deste Website. Todas as informações fornecidas pelo “CLIENTE/DOADOR” devem ser exatas, precisas e verdadeiras, e devidamente atualizadas, caso ocorra qualquer alteração, reconhecendo o “CLIENTE/DOADOR”, ainda, que a “SOCIAL FUNDING” não tem a obrigação de verificar a precisão dos dados transmitidos pelo “CLIENTE/DOADOR” ou qualquer outra pessoa.
                                </p>
                            </ol>
                            <ol>
                                <p class="about-us-paragraph">
                                    Diante disso, a “SOCIAL FUNDING” não se responsabilizará pela correção de dados pessoais inseridos pelo “CLIENTE/DOADOR”, sendo certo que o “CLIENTE/DOADOR” ou seus pais ou representantes legais, quando for o caso - garante e responde, em qualquer caso, pela veracidade, precisão e autenticidade dos dados pessoais cadastrados.
                                </p>
                            </ol>
                            <ol>
                                <p class="about-us-paragraph">
                                    A “SOCIAL FUNDING” se compromete a não ceder ou comercializar, sob nenhuma forma, informações individuais do “CLIENTE/DOADOR” cadastrado sem a sua expressa autorização. Entretanto, o “CLIENTE/DOADOR” acorda que a Internet, enquanto rede mundial de computadores a qual qualquer pessoa pode ter acesso, não é um meio totalmente seguro. No caso de utilização do Website, a “SOCIAL FUNDING” não se responsabilizará em nenhuma hipótese por prejuízos de qualquer espécie, inclusive, mas sem limitação, àqueles decorrentes do uso de tais dados por terceiros ou extravio de dados do “CLIENTE/DOADOR” cadastrado, decorrentes direta ou indiretamente do seu acesso ou navegação no Website.
                                </p>
                            </ol>
                        </ul>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            DO CADASTRO DAS “ONGs PARCEIRAS”
                        </p>
                        <ul>
                            <ol>
                                <p class="about-us-paragraph">
                                    A ONG parceira para poder usufruir dos serviços da “SOCIAL FUNDING” precisará realizar o cadastro no website, sendo obrigatório o preenchimento de todas as informações solicitadas, ressaltando que é de extrema importância o fornecimento do CNPJ, comprovando ser uma entidade sem fins lucrativos.
                                </p>
                            </ol>
                            <ol>
                                <p class="about-us-paragraph">
                                    Após o envio de todas as informações, a equipe da “SOCIAL FUNDING” realizará uma curadoria (análise) sobre os documentos fornecidos pela ONG, sendo possível o contato com o responsável pela ONG para verificação da veracidade do cadastro.
                                </p>
                            </ol>
                            <ol>
                                <p class="about-us-paragraph">
                                    Após a aprovação da ONG na “SOCIAL FUNDING”, disponibilizaremos uma área exclusiva para o parceiro, contendo novos campos para preenchimento, descrição de seu ramo de atividade, endereço, entre outros campos. Ressaltando que para divulgação da ONG na “SOCIAL FUNDING” é obrigatório o preenchimento dos campos solicitados.
                                </p>
                            </ol>
                        </ul>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            DA SELEÇÃO DE PRODUTOS
                        </p>
                        <ul>
                            <ol>
                                <p class="about-us-paragraph">
                                    Dentro da área exclusiva, a ONG parceira poderá selecionar os produtos que possuem interesse de doações. Acordando sempre com as regras de negócios expostas pela “SOCIAL FUNDING”.
                                </p>
                            </ol>
                            <ol>
                                <p class="about-us-paragraph">
                                    A ONG parceira terá direito a selecionar até quatro produtos para arrecadação, por regras internas, a somatória total dos quatro produtos terão um limite máximo de 100 unidades, sendo à critério da ONG a distribuição de quantidade entre eles.
                                </p>
                            </ol>
                            <ol>
                                <p class="about-us-paragraph">
                                    Os produtos existentes na “SOCIAL FUNDING” são disponibilizados pelas lojas parceiras, podendo ocorrer alterações de estoque.
                                </p>
                            </ol>
                        </ul>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            DOS PRODUTOS PRINCIPAIS E SECUNDÁRIOS
                        </p>
                        <ul>
                            <ol>
                                <p class="about-us-paragraph">
                                    A ONG parceira selecionará um produto principal e um produto secundário. Caso os produtos principais fiquem indisponíveis para venda, por motivos externos (falta de estoque), o mesmo será substituído por seu produto secundário.
                                </p>
                            </ol>
                            <ol>
                                <p class="about-us-paragraph">
                                    Caso o produto principal já tenha vendido uma parte da meta, o produto secundário entrará em vigor com a quantidade restante do produto principal.
                                </p>
                            </ol>
                            <ol>
                                <p class="about-us-paragraph">
                                    Se nenhuma das opções estiverem disponíveis em estoque a ONG ficará com um produto a menos para arrecadação.
                                </p>
                            </ol>
                        </ul>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            DAS CAMPANHAS DE ARRECADAÇÃO
                        </p>
                        <ul>
                            <ol>
                                <p class="about-us-paragraph">
                                    Após a seleção dos produtos a ONG parceira ativará uma “CAMPANHA DE ARRECADAÇÃO”.
                                </p>
                            </ol>
                            <ol>
                                <p class="about-us-paragraph">
                                    Cada campanha ativa terá o prazo máximo de 15 dias para arrecadação de todos os produtos e conclusão da meta.
                                </p>
                            </ol>
                            <ol>
                                <p class="about-us-paragraph">
                                    Caso a meta seja concluída antes do prazo estabelecido (15 dias), a ONG parceira poderá encerrar a campanha e começar uma nova.
                                </p>
                            </ol>
                            <ol>
                                <p class="about-us-paragraph">
                                    Não será possível iniciar uma nova campanha antes do término da campanha passada, ou seja, é válida apenas uma campanha por vez.
                                </p>
                            </ol>
                            <ol>
                                <p class="about-us-paragraph">
                                    Não é possível cancelar uma campanha antes do término do prazo da meta.
                                </p>
                            </ol>
                            <ol>
                                <p class="about-us-paragraph">
                                    Caso a meta seja concluída antes do prazo final a ONG parceira poderá optar em permanecer com a campanha ativa, para arrecadação de mais produtos.
                                </p>
                            </ol>
                        </ul>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            DO CANCELAMENTO DO CADASTRO
                        </p>
                        <ul>
                            <ol>
                                DO “CLIENTE/DOADOR”
                                <p class="about-us-paragraph">
                                    Quando o “CLIENTE/DOADOR” estiver cadastrado e, consequentemente, recebendo as novidades, novas ONGs e ações da “SOCIAL FUNDING”, este poderá requerer, a qualquer momento, o cancelamento do cadastro, desde que envie um e-mail formalizando o pedido para contato@socialfunding.com.br.
                                </p>
                            </ol>
                            <ol>
                                DA “ONG PARCEIRA”
                                <p class="about-us-paragraph">
                                    Quando a “ONG PARCEIRA” estiver cadastrada e, consequentemente, recebendo as novidades da “SOCIAL FUNDING”, esta poderá requerer, a qualquer momento, o cancelamento do cadastro, desde que envie um e-mail formalizando o pedido para contato@socialfunding.com.br.
                                </p>
                            </ol>
                        </ul>
                    </ol>
                </ul>
            </p>
            <h3><b>Dos passos para a doação:</b></h3>
            <p class="about-us-paragraph">
                Para efetuar a doação para uma ONG parceira cadastrada no site da “SOCIAL FUNDING”, basta seguir os passos abaixo:
                <ul>
                    <ol>
                        Das informações preliminares:
                        <p class="about-us-paragraph">
                            Inicialmente basta escolher uma ONG de sua preferência, sem a necessidade de cadastro prévio;
                        </p>
                    </ol>
                    <ol>
                        Da página de produtos necessitados pela ONG:
                        <p class="about-us-paragraph">
                            O “CLIENTE/DOADOR” poderá escolher o produto sua preferência para doação, porém, poderá ocorrer a alteração de produtos sem aviso prévio, pelo motivo de falta de estoque nas lojas parceiras.
                        </p>
                    </ol>
                    <ol>
                        Da página “INTERMEDIÁRIA” de cadastro:
                        <p class="about-us-paragraph">
                            O “CLIENTE/DOADOR” para concluir a doação deverá estar cadastrado, caso não esteja, terá a oportunidade de realizar o cadastro um passo antes do pagamento.
                        </p>
                    </ol>
                    <ol>
                        Da página de pagamento:
                        <p class="about-us-paragraph">
                            O “CLIENTE/DOADOR” precisará preencher as informações do pagamento.
                        </p>
                        <p class="about-us-paragraph">
                            O endereço de entrega será o da ONG selecionada.
                        </p>
                    </ol>
                    <ol>
                        Do pagamento:
                        <p class="about-us-paragraph">
                            Das formas de pagamento
                        </p>
                        <p class="about-us-paragraph">
                            - Cartão de crédito
                        </p>
                        <p class="about-us-paragraph">
                            A “SOCIALFUNDING” aceita as principais bandeiras de cartão de crédito: VISA, MASTERCARD, AMERICAN EXPRESS, DINERS CLUB, ELO e AURA.
                        </p>
                        <p class="about-us-paragraph">
                            A cobrança da fatura no seu cartão de crédito será imediatamente após o recebimento do pagamento, a cobrança será emitida por uma das lojas parceiras.
                        </p>
                    </ol>
                    <ol>
                        Processo de aprovação
                        <p class="about-us-paragraph">
                            Todas as transações efetuadas passarão por análise e aprovação interna das lojas parceiras. Após o processo de análise, o “CLIENTE/DOADOR” receberá em seu e-mail a informação de conclusão do processo e, caso a aprovação seja confirmada, receberá automaticamente o comprovante de sua doação.
                        </p>
                        <p class="about-us-paragraph">
                            A “SOCIAL FUNDING” não pode garantir de forma nenhuma que os serviços prestados pela empresa responsável pela gestão de pagamentos funcionarão livres de erros, interrupções, maus funcionamentos, atrasos ou outras imperfeições.
                        </p>
                        <p class="about-us-paragraph">
                            O “CLIENTE/DOADOR” reconhece que seu nome e imagem serão publicados na página do projeto para o qual contribuiu no website.
                        </p>
                        <p class="about-us-paragraph">
                            IMPORTANTE: Compras realizadas com cartão de crédito poderão ter tempo de análise de até oito horas.
                        </p>
                        <p class="about-us-paragraph">
                            O “CLIENTE/DOADOR” ao acessar o status de sua compra, terá as seguintes informações:
                        </p>
                    </ol>
                    <ol>
                        Doação Confirmada:
                        <p class="about-us-paragraph">
                            Para toda transação confirmada será enviado um e-mail de aprovação contendo o comprovante de transação realizada. Caso não encontre, verifique sua caixa de SPAM.
                        </p>
                        <p class="about-us-paragraph">
                            Para mais informações sobre sua doação acesse sua área logada no link www.socialfunding.com.br/login
                        </p>
                    </ol>
                    <ol>
                        Doações pendentes de análise:
                        <p class="about-us-paragraph">
                            Dependendo do histórico do cartão de crédito e seu titular ou a inserção de dados de compra divergentes, a transação poderá entrar em um processo de análise mais minucioso. Quando o processo for finalizado, o “CLIENTE/DOADOR” receberá um e-mail de confirmação com o localizador ou a informação de não aprovação da transação.
                        </p>
                        <p class="about-us-paragraph">
                            Para visualizar o status de sua doação, acesse http://www.socialfunding.com/login.
                        </p>
                    </ol>
                    <ol>
                        Doações não aprovadas:
                        <p class="about-us-paragraph">
                            A finalização da doação não aprovada pelo sistema interno da “SOCIAL FUNDING”, por meio de informações ou processos cedidos pela operadora de cartão de crédito (por políticas internas que a “SOCIAL FUNDING” não temos acesso), será automaticamente cancelada e a informação de não aprovação estará disponibilizada na página de pagamento.
                        </p>
                    </ol>
                    <ol>
                        Doações não finalizadas:
                        <p class="about-us-paragraph">
                            Caso o “CLIENTE/DOADOR” não termine o processo de doação, esta não será concretizada, os valores da transação não serão debitados/creditados e os produtos selecionados voltarão para página da ONG.
                        </p>
                    </ol>
                </ul>
            </p>
            <h3><b>Da entrega dos produtos:</b></h3>
            <p class="about-us-paragraph">
                <ul>
                    <ol>
                        <p class="about-us-paragraph">
                            Concluindo à compra o “CLIENTE/DOADOR” receberá um e-mail com a confirmação do pagamento e o resumo da doação.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            Toda a entrega será de total responsabilidade das “LOJAS PARCEIRAS”, onde a “SOCIAL FUNDING” compromete-se em avisar o status do processo aos “CLIENTES/DOADORES” no e-mail fornecido no cadastro, ressaltando que poderão ocorrer atrasos no prazo estipulado.
                        </p>
                    </ol>
                </ul>
            </p>
            <h3><b>Da propriedade intelectual:</b></h3>
            <p class="about-us-paragraph">
                <ul>
                    <ol>
                        <p class="about-us-paragraph">
                            O “CLIENTE/DOADOR” acorda que o Website, assim como os logotipos, marcas, insígnias, fotos, imagens, descrições, textos, "layout", símbolos, sinais distintivos, manual (ais) e quaisquer outros materiais correlatos ao Website, constituem, conforme o caso, direitos autorais, segredos de negócio, e/ou direitos de propriedade da “SOCIAL FUNDING” ou seus licenciadores, conforme o caso, sendo tais direitos protegidos pela legislação nacional e internacional aplicável à propriedade intelectual, especialmente quanto aos termos e condições das Leis n.ºs 9.279/96, 9.609/98 e 9.610/98 e que não pleitearão ou reclamarão, a qualquer tempo, tais direitos de propriedade como se seus fossem.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            É expressamente proibido ao “CLIENTE/DOADOR” a reprodução, a distribuição, a modificação, a exibição, a criação de trabalhos derivados ou qualquer outra forma de utilização do conteúdo deste Website e dos materiais veiculados no ou pelo Website.
                        </p>
                    </ol>
                </ul>
            </p>
            <h3><b>Disposições gerais:</b></h3>
            <p class="about-us-paragraph">
                <ul>
                    <ol>
                        <p class="about-us-paragraph">
                            Ao realizar a doação pelo Website, o “CLIENTE/DOADOR” declara estar ciente de todos os Termos, condições de recebimento e todas as informações referentes ao produto adquirido, de acordo com o disposto.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            A “SOCIAL FUNDING” não será responsável pelas despesas com o frete caso haja necessidade.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            Quando no Website existirem “links” para outros sites, a “SOCIAL FUNDING” recomenda ao “CLIENTE/DOADOR” consultar as respectivas "Políticas de Uso" e "Termos de Privacidade" de tais sites, bem como quaisquer outros regulamentos específicos de cada um deles, caso acesse tais sites. A “SOCIAL FUNDING” não presta aval, nem garante ou representa quaisquer terceiros cujos links constem do Site, sendo certo que sua disponibilização no Site tenciona proporcionar maior comodidade e opções de entretenimento ao “CLIENTE/DOADOR”. O “CLIENTE/DOADOR” reconhece que todo e qualquer problema gerado em tais sites devem ser resolvidos com a empresa titular do respectivo site, sem a participação da “SOCIAL FUNDING”.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            Determinados atos, incluindo, mas se não limitado, a usos com propósitos ilegais, corrupção de informações ou dados, violação de direitos de propriedade industrial ou autoral, violação de direitos de terceiros (inclusive crianças), envio de mensagens de cunho ameaçador, racista ou pornográfico, interferir ou interromper o serviço prestado pelo Site e/ou qualquer tentativa de propagação de vírus ou programa não desejado, poderão imediatamente resultar no encerramento de qualquer relação entre a “SOCIAL FUNDING” e o “CLIENTE/DOADOR”.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            Em razão do disposto na Clausula acima, o “CLIENTE/DOADOR” acorda ter qualquer informação que tenha prestado ou transmitido, inclusive qualquer resposta a uma pergunta, a qualquer tempo, e sem necessidade de prévia notificação, deletada do Website, a critério exclusivo da “SOCIAL FUNDING”, que ainda, poderá manter cópia em seus arquivos para as demais providências cabíveis, sem prejuízo de qualquer medida legal que se faça necessária. Tal faculdade visa proteger interesses dos demais “CLIENTES/DOADOR”, bem como da sociedade como um todo, visando mitigar riscos inerentes a tais práticas ilegais ou contrárias aos usos e costumes locais.
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            Caso reste qualquer dúvida a respeito do conteúdo do presente instrumento, por favor, contate:
                        </p>
                        <p class="about-us-paragraph">
                            - “SOCIAL FUNDING”
                        </p>
                        <p class="about-us-paragraph">
                            - E-mail: contato@socialfunding.com.br
                        </p>
                    </ol>
                    <ol>
                        <p class="about-us-paragraph">
                            Este contrato supera quaisquer acordos, verbais ou escritos, anteriormente mantidos entre as partes, especialmente com relação ao uso do Website pelo “CLIENTE/DOADOR”.
                        </p>
                        <p class="about-us-paragraph">
                            O “CLIENTE/DOADOR”, ou, se for o caso, seu pai/mãe ou representante legal, reconhece expressamente ter lido, analisado e aceito integralmente as condições acima estabelecidas, comprometendo-se cumpri-las integralmente.
                        </p>
                        <p class="about-us-paragraph">
                            © 2014   Social Funding. Todos os direitos reservados.
                        </p>
                    </ol>
                </ul>
            </p>
        </div><!--content-wrapper-->
    </main>
{% endblock %}

