{% extends 'FrontendBundle::layout.html.twig' %}

{% block body %}
    <main>
        <div class="content-wrapper">
            <h2 class="about-us-sub-title">TERMOS DE USO</h2>
            <div class="about-social-funding-logo"></div>
            <h2 class="about-us-title">E se você pudesse mudar o mundo?</h2>

            <p class="about-us-paragraph">
                Termos de uso da Social Funding
            </p>
        </div><!--content-wrapper-->
    </main>
{% endblock %}

