{% extends 'FrontendBundle::layout.html.twig' %}

{% block body %}
    <main>
        <div class="content-wrapper" style="text-align: center;">
            {% block fos_user_content %}{% endblock %}
        </div><!--content-wrapper-->
    </main>
{% endblock %}

