{% extends 'FrontendBundle::layout.html.twig' %}

{% block body %}
    <h2>Obrigado por doar!</h2>
    <p>
        Estamos processando o seu pagamento. Você receberá o status do seu pedido por e-mail.
    </p>
{% endblock %}

